.color{
    color: white;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color: black;
}
.bg-white{
    background-color: white;
}
.d-flex{
    display: flex;
}
.j-content-c{
justify-content: center;
}
.j-content-b{
    justify-content: space-between;
}
.j-content-a{
    justify-content: space-around;
}
.j-content-e{
    justify-content: space-evenly;
}
.a-items-c{
    align-items: center;
}
.a-items-e{
    align-items: end;
}
.a-items-s{
    align-items: start;
}
.a-text{
    text-align: center;
}
.bro-red{
border: 2px solid red;
}
.padding{
    padding: 20px;
}
.m{
    margin: 20px;
}
.br-r{
    border-radius: 30px;
}
.hight{
    height: 300px;
}
.f-size{
    font-size: 50px;
}
.gap{
    gap: 20px;
}
.hight1{
    height: 600px;
    flex-wrap: wrap;
    overflow: hidden;
}
@font-face {
    font-family:futurak ;
src: url(../futurablack-bt.ttf);
}
@font-face {
    font-family:aprecu ;
    src: url(../font//ApercuMonoProLight.ttf);
}
@font-face {
    font-family: font4;
    src: url(../font/Roboto/static/Roboto_Condensed-ExtraLight.ttf);
}
@font-face {
    font-family: font5;
    src: url(../font/butler/Butler_Ultra_Light.otf);
}
.font{
    font-family: futurak;
    font-size: 50px;
    font-weight: 400;
}

.font3{
    font-family:aprecu;
    font-size: 40px;
    font-weight: 300;
    font-style:normal;
}
.font4{
    font-family: font4;
    font-size: 40px;
    font-weight: 550;
}
.font5{
    font-family: font5;
    font-size: 48px;
}
.font2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.c-red{
    color: #ff1433;
    font-size: 19px;
    font-style: normal;
}
.bg-b{
    background-color: #131212;
    border: 1px solid #d8d6d6;
}
.font6{
    font-size: 32px;
}